/* Font settings */
body,
html,
div>div>div>p.uk-navbar-item.uk-logo,
#nav-sub,
h3,
h1,
* {
    font-family: 'Consolas', serif;
    color: black;
}


/* Hide scrollbar but allow overflow */
html::-webkit-scrollbar {
    display: none;
}

/* Homepage navigation bar styling */
.main-nav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color: white;
}

p.nav-item {
    text-indent: 30px;
    font-size: 1.5em;
    transition-duration: 0.2s;
}

div>div>div>p>span#nav-header,
div>div>div>p.uk-navbar-item {
    text-indent: -30px;
    font-size: 1.5em;
    transition-duration: 0.2s;

}

div>div>div>p.nav-item:hover {
    transition-duration: 0.7s;
    text-indent: 50px;
}

div>div>div>p.nav-item>a {
    color: black;
}

div>div>div>p.nav-item>a:hover {
    text-decoration: none;
}

div>div>div>p.uk-navbar-item.uk-logo {
    font-weight: bold;
    margin: 0 0 0 0;
    min-height: 0;
}

#nav-sub {
    margin: 0 0 0 0;
    text-indent: -30px;
    font-size: 1.3em;
}

nav>div>a.uk-logo {
    font-family: 'Consolas', serif;
    color: black;
    font-weight: bold;
}

.code {
    font-family: 'Consolas', sans-serif !important;
    letter-spacing: 0.01em;
    background-color: #F8F8F8;

    padding-bottom: 5px;
    margin-bottom: 10px;
}

.code-top {
    background-color: #F9DEE9;
    color: #904187;
    margin-bottom: 10px;
    padding: 2px 2px 2px 2px;
}

.fieldname {
    color: #234FAD;
}

.fieldlink:hover {
    color: #9A1500;
    text-decoration: underline;
}

.linenum {
    color: #380086;
}

.string,
.fieldlink {
    color: #9A1500;
}

.number {
    color: #308753;
}

div.grid-item {
    /* background-image: url('../../resources/images/climbing-wall.jpg');
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-position: bottom; */
    border: black 1px solid;
    transition-duration: 0.5s;
}

div.grid-item:hover {
    /* background-image: url('../../resources/images/climbing-wall.jpg');
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-position: bottom; */
    transition-duration: 1s;
}



.uk-transition-toggle:hover .uk-transition-scale-up,
.uk-transition-toggle:focus .uk-transition-scale-up,
.uk-transition-active.uk-active .uk-transition-scale-up {
    transform: scale(1.3, 1.3)
    
}

.uk-transition-toggle:hover .uk-transition-scale-down,
.uk-transition-toggle:focus .uk-transition-scale-down,
.uk-transition-active.uk-active .uk-transition-scale-down {
    transform: scale(1, 1)
}

div>h3.assignment-subtitle {
    margin-top: 0;
}

pre, code {
    background-color: #f8f8f8;
    border: 0 solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}